<h1>Create New User</h1>
<form action="/admin/create" method="POST">
  <div class="newUser">
    <label for="username" class="us-lab">Username</label>
    <br/>
    <input type="text" name="username" id="new-user" class="us-inp">
    <br/>
    <label for="password" class="us-lab">Password</label>
    <br/>
    <input type="text" name="password" id="new-password" class="us-inp">
    <br/>
    <label for="email" class="us-lab">Email</label>
    <br/>
    <input type="text" name="email" id="new-email" class="us-inp">
    <br/>
  </div>
  <div class="sumbit-log">
    <input type="submit" name="log-in" value="Create">
  </div>
</form>

<a href="/">Back</a>