<h2>Create Quiz</h2>

<form method="POST" action="/create/quiz" >
    <label for="quizName">Quiz Name:</label>
    <input type="text" name="quizName">
    <br>
    <label for="questionNumber">Number of questions</label>
    <select name="questionNumber" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select>
    <input type="submit" value="Create">
</form>

<a href="/">Back</a>